<%= form_for(kid) do |f| %>
  <% if kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kid.errors.count, "error") %> prohibited this kid from being saved:</h2>

      <ul>
      <% kid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 col-sm-6">
    <div class="service-box text-center">
      <div class="form-group">
        <%= f.file_field :main_image %>
      </div>
      <div class="form-group">
        <%= f.file_field :thumb_image %>
      </div>
    </div>
    <div class="service-box">
      <div class="icon-text">
        <div class="form-group">
          <%= f.text_field :title, class:'form-control', placeholder: 'Title' %>
        </div>
        <div class="form-group">
          <%= f.text_field :subtitle, class:'form-control', placeholder: 'Subtitle' %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-8 col-sm-6">
    <div class="service-box text-left">
      <div class="form-group">
        <%= f.text_area :body, class:'form-control', rows: 5, placeholder: 'Content' %>
      </div>
      <div class="form-group">
        <%= f.submit "Save an item", class: 'btn btn-info type-list btn-block button-custom' %>
      </div>
      <%= link_to 'Back', kids_path, class: "btn btn-warning btn-sm button-peach" %>
    </div>
  </div>
<% end %>
