<section id="work-shop" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2 class="badge badge-custom"><%= @kid.title %></h2>
        <%= render 'admin_actions' %>
        <hr class="bottom-line">
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-box text-center">
           <%= image_tag kids_img(@kid.main_image, 'main') %>
        </div>
        <div class="service-box">
          <div class="icon-text">
            <h5 class="ser-text text-center"><%= @kid.subtitle %></h5>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-6">
        <div class="service-box text-left">
          <p class="ser-text"><%= @kid.body %></p>
          <%= link_to 'View all courses', kids_path, class: "btn btn-sm button-green" %>
          <%= link_to 'Purchase this course', contacts_path, class: "btn type-list btn-sm button-custom" %>
        </div>
      </div>
    </div>
  </div>
</section>
