<p> Title <%= link_to adult.title, adult_path(adult) %></p>
<p> Course <%= adult.subtitle %></p>
<p><%= image_tag adult.thumb_image %></p>
<% if logged_in?(:site_admin) %>
  <p><%= link_to 'Edit', edit_adult_path(adult) %> |
    <%= link_to 'Destroy', adult, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>