<%= form_for(adult) do |f| %>
  <% if adult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adult.errors.count, "error") %> prohibited this adult from being saved:</h2>

      <ul>
      <% adult.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-4 col-sm-6">
    <div class="service-box text-center">
      <div class="form-group">
        <%= f.text_area :main_image, class:'form-control', placeholder: 'Image' %>
      </div>
      <div class="form-group">
        <%= f.text_area :thumb_image, class:'form-control', placeholder: 'Image' %>
      </div>
    </div>
    <div class="service-box">
      <div class="icon-text">
        <div class="form-group">
          <%= f.text_field :title, class:'form-control', placeholder: 'Title' %>
        </div>
        <div class="form-group">
          <%= f.text_field :subtitle, class:'form-control', placeholder: 'Subtitle' %>
        </div>
      </div>
      <div class="form-group">
        <ul class:'form-control'>
          <%= f.fields_for :courses do |courses_form| %>
            <li>
             <%= courses_form.label :name %>
             <%= courses_form.text_field :name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-6">
    <div class="service-box text-left">
      <div class="form-group">
        <%= f.text_area :body, class:'form-control', rows: 5, placeholder: 'Content' %>
      </div>
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-info type-list btn-block' %>
      </div>
      <%= link_to 'Back', adults_path, class: "btn btn-warning btn-sm" %>
    </div>
  </div>
  
<% end %>

