<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @adult.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @adult.subtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adult.body %>
</p>

<p>
  <%= image_tag @adult.main_image %>
</p>

<div>
  <p> <strong> Type of the course  </strong></p>
  <% @adult.courses.each do |t| %>
   <p><%= t.name %> </p>
  <% end %>
</div>
<% if logged_in?(:site_admin) %>
  <%= link_to 'Edit', edit_adult_path(@adult) %> |
<% end %>
<%= link_to 'Back', adults_path %>
