<p id="notice"><%= notice %></p>

<h1>Specialized Courses</h1>
<p> <%= link_to 'Back to the list', adults_path %> </p>
<%= link_to 'New Course', new_adult_path %>

<div>
  <% @specialized.each do |adult| %>
    <p> Title <%= link_to adult.title, adult_path(adult) %></p>
    <p> Course <%= adult.subtitle %></p>
    <p><%= image_tag adult.thumb_image %></p>
    <p><%= link_to 'Edit', edit_adult_path(adult) %> |
       <%= link_to 'Destroy', adult, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>