<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "Home", root_path, class: 'nav-link' %>
      <%= link_to "Courses", courses_path, class: 'nav-link' %>
      <%= link_to "Contact", contact_path, class: 'nav-link' %>
      <%= link_to "About", about_path, class: 'nav-link' %>
      <%= link_to "News", news_index_path, class: 'nav-link' %>
      <%= link_to "FAQ", questions_path, class: 'nav-link' %>
      <%= login_helper('nav-link') %>
    </nav>
  </div>
</div>