<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h3 class="greeting">Hi, <%= current_user.first_name %></h3>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="c1"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="c2"><%= link_to "Courses", courses_path, class: "nav-link" %></li>
        <li class="c3"><%= link_to "Contact Us", contacts_path, class: "nav-link" %></li>
        <li class="c4"><%= link_to "View mails", letter_opener_web_path, class: "nav-link" if logged_in?(:site_admin) %></li>
        <li class="c5"><%= link_to "About", about_path, class: "nav-link" %></li>
        <li class="c6"><%= link_to "News", news_index_path, class: "nav-link" %></li>
        <li class="c7"><%= link_to "FAQ", questions_path, class: "nav-link" %></li>
        <li class="c3"><%= login_helper('nav-link')%></li>
      </ul>
    </div>
  </div>
</nav>