<%= form_for(news) do |f| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.text_field :title, class:'form-control', placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <%= f.text_field :subtitle, class:'form-control', placeholder: 'Subtitle' %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class:'form-control', rows: 5, placeholder: 'Content' %>
  </div>
  
  <div class="form-group">
    <%= f.radio_button :status, 'draft' %>
    <%= f.label :status, 'Draft'%>
    <%= f.radio_button :status, 'published'%>
    <%= f.label :status, 'Published'%>
  </div>
  
  <div class="form-group">
    <label class= "btn btn-success news-button">Upload an image <%= f.file_field :small_image, style: 'display:none;' %></label>
  </div>

  <div class="form-group">
    <%= f.submit "Save an item", class: 'btn btn-success news-button' %>
    <button type="button" class="btn btn-danger news-button floatation"><%= link_to 'Back', news_index_path %></button>
  </div>
  
<% end %>
