<div class="portfolio-items isotopeWrapper">
  <article class="col-md-4">
    <%= image_tag news_img(news.small_image)%>
    <div class="card-block news-card">
      <h4 class="card-title"><%= link_to news.title, news_path(news) %></h4>
      <h5 class="card-subtitle"><%= news.subtitle %></h5>
    </div>
    <nav class="breadcrumb news-breadcrumb-container">
      <span class="breadcrumb-item news-breadcrumb badge badge-news">
        Posted <%= distance_of_time_in_words(news.updated_at, Time.now)%> ago
      </span>
      <%= render partial: 'news/admin_actions', locals: {news: news} %>
    </nav>
  </article>
</div>
