<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @news.subtitle %>
</p>

<p><%= image_tag @news.small_image unless @news.small_image.nil? %></p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
